.active {
  display: block;
}

.fadeInUp {
  animation: fadeInUp 0.7s ease-in-out;
}

.fadeInDown {
  animation: fadeInDown 0.7s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}